body
    {
        background-color: rgb(173, 216, 245);
    }


h1
    {
        color:rgb(185, 109, 160);
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

a
    {
        text-decoration: none;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 10px;
        font-size: 16pt;
        color:rgb(233, 255, 224);
    }

a:hover
    {
        color: rgb(189, 178, 145);
        font-size: 18pt;

    }

.header
    {
        width: 100%;
        background-color: rgb(38, 5, 51);
        padding-bottom: 30px;
    }

.slider
    {
        width: 100%;
        background-color: rgb(216, 247, 196);
    }

.box1
    {
        width: 25%;
        background-color: rgb(146, 50, 98);
        padding-bottom: 200%;
        float: left;

    }

.box2
    {
        width: 25%;
        background-color: rgb(215, 221, 200);
        padding-bottom: 200%;
        float: left;
    }

.box3
    {
        width: 25%;
        background-color: rgb(146, 50, 98);
        padding-bottom: 200%;
        float: left;
    }

.box4
    {
        width: 25%;
        background-color: rgb(215, 221, 200);
        padding-bottom: 200%;
        float: left;
    }

.content
    {
        text-align: center;
        font-family:'Wellfleet', cursive;

    }

table, tr, td, th
    {
      border: 2px solid rgb(59, 11, 23);
      border-collapse: collapse;
    }

td
    {
        padding: 5px;
    }

tr
    {
        background-color: rgb(171, 204, 144);
    }

tr:nth-child(odd)
    {
        background-color: rgb(123, 184, 201);
    }

th
   {
       background-color: black;
       color: aqua;
   }

tr:hover
   {
    background-color: rgb(255, 255, 255);
   }